.features {
    background-color: #eeeeee;
    color: #676767;
    padding: 3em 0 4.5em 0;
    .feature_header {
        margin: 1.2em 0;
        font-weight: 600;
    }
    p {
        line-height: 1.5em;
    }
    svg {
        &:hover {
            .cls-1 {
                stroke: #9e459a !important;
            }
            .cls-2 {
                fill: #9e459a !important;
            }
        }
    }
}
