header {
    height: 600px;
/*    background-image: url("../images/background.jpg");
    padding-bottom: (2000 / 1100) * 100%;
    background-size: contain;*/
    padding-top: 2.5em;
    background-repeat: no-repeat;
    .greet_message {
        font-family: 'existencelight', sans-serif;
        margin: 0 auto 1.4em auto;
        color: #ffffff;
        display: flex;
        justify-content: center;
        
    }
    
    .sub_message {
        font-family: 'latohairline', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5em;
        margin: 0 0 1.3em 0;
        h2 {
            color: #ffffff;
            margin: 0 0 0.5em 0;
        }
        h6 {
            color: #ffffff;
            text-align: center;
        }
    }
}