header {
    // height: 600px;
    height: 98vh;
    max-height: 1100px;
    padding-top: 2.5em;

    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .greet_message {
        font-family: 'existencelight', sans-serif;
        margin: 0 auto 1.4em auto;
        color: #ffffff;
        display: flex;
        justify-content: center;

    }

    .sub_message {
        font-family: 'latohairline', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5em;
        margin: 0 0 1.3em 0;
        h2 {
            color: #ffffff;
            margin: 0 0 0.5em 0;
            text-align: center;
        }
        h6 {
            color: #ffffff;
            text-align: center;
        }
    }
    svg {

        &:hover {
//            background-color: azure;
            .cls-1 {

                fill: #9e459a !important;
                fill-opacity: 1 !important;
                stroke: #9e459a !important;
             }
        }
    }
    .mobile_nav_toggle {
        padding-top: 1em; /*change*/
        padding-left: 1.5em;
        min-width: 100%;
        height: 30px;
        cursor: pointer;
        display: none;
        span {
            cursor: pointer;
            display: block;
            background-color: white;
            position: absolute;
            top: 22px;
            width: 28px;
            height: 3px;
            border-radius: 3px;
            &::after {
                display: block;
                content: " ";
                background-color: white;
                width: 28px;
                height: 3px;
                border-radius: 3px;
                position: absolute;
                top: 7px;
            }
            &::before {
                display: block;
                content: " ";
                background-color: white;
                width: 28px;
                height: 3px;
                border-radius: 3px;
                position: absolute;
                top: -7px;
            }
        }
    }
    .mobile_nav {
        margin: 0.8em 0;
	    min-width: 100%;
	    background-color: rgba(171, 171, 171, 0.83);
	    padding: 0 1.5em;
	    display: none;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .mobile_nav_columm {
	    width: 50%;
    }
    .mobile_nav_menu_item {
	    padding: 0.3em 0;
    }
}
