/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile_nav_toggle {
        display: block !important;
    }
    .greet_message {
        // display: none !important;
    }
    .sub_message {
        padding: 0 !important;
    }
    h1 {
        font-size: 3.7rem;
    }
    header {
        padding-top: 0em;
        height: 95vh;
        .svg_wrapper {
            display: none;
        }
        .greet_message {
            margin: 3.4em auto 2em auto;
        }
    }
  }
