/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile_nav_toggle {
        display: block !important;
    }
    .greet_message {
        // display: none !important;
    }
    .sub_message {
        padding: 0 !important;
    }
    h1 {
        font-size: 3.7rem;
    }
    header {
        padding-top: 0em;
        height: 95vh;
        .svg_wrapper {
            display: none;
        }
        .greet_message {
            margin: 3.4em auto 2em auto;
        }
    }
    nav .row {
        display: none;
    }
    .row .mobi_expanded {
        float: none !important;
        width: auto !important;
    }
    .row .collapse {
        display: none;
    }
    .intermediate .class_with_text h1 {
        padding: 1em 1em 0 1em;
    }
    .our_team .controls_container  {
        width: 50%;
    }
    .quotes h1 {
        font-size: 2rem;
    }
    .grid_container .row [class*="col_"] {
        padding: 0 0.2em;
    }
    .contact .form_block_element {
        margin: 0.4em 0 0.4em 0px;
    }
    .contact .submit {
        margin: 0.4em 0 0.4em 10px;
    }
    .contact .company_description {
        margin-top: 3em;
        font-size: 0.9rem;
        text-align: center;
    }
    .contact .company_details {
        text-align: center;
    }
    .contact .social_icons {
        text-align: center;
    }
    h2 {
      font-size: 2rem;
    }
    h6 {
        font-size: 1.1rem;
    }
    .portfolio .buttons_group a {
        padding: 0.5em 0.7em;
    }
    header .sub_message h6 {
        padding-top: 2em;
    }
    .our_skills .skills_header {
        margin-bottom: 3em;
    }
    .our_skills .skills_left, .our_skills .skills_right {
        padding: 0;
        text-align: center;
        margin: 0 2em;
    }
    .skills_right  *, .skills_left * {
        float: none !important;
    }
    .percentage {
        margin: 0.8em 0;
    }
     .main_bell {
        display: none;
    }
}
