/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile_nav_toggle {
        display: block !important;
    }
    .greet_message {
        // display: none !important;
    }
    .sub_message {
        padding: 0 !important;
    }
    h1 {
        font-size: 3.7rem;
    }
    header {
        padding-top: 7em;
        .svg_wrapper {
            display: none;
        }
    }
  }
