.portfolio {
    background-color: #ffffff;
    padding-top: 3em;
    .portfolio_header {
        padding-bottom: 3em;
    }
    .text_container {
        font-family: 'existencelight', sans-serif;
    }
    .buttons_group {
        padding-bottom: 1.7em;
        a {
            display: inline-block;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1em;
            text-decoration: none;
            padding: 0.5em 1.2em;
            margin: 0 0.3em;
            border: 0.8px solid #000000;
            border-radius: 0.5em;
            color: #222222;
        }
    }
    .thumbnails {
//        width: 22.5em;
//        height: 100%;
        img {
            width: 100%;
        }
        .caption {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0.1em auto 0.7em auto;
            .categories {
                font-size: 0.8em;
                color: #777777;
            }
        }
    }
    .button_big {
        display: block;
        background-color: #9f449b;
        font-size: 1.25rem;
        padding: 0.7em 0;
        margin: 1.5em auto 4.5em auto;
        width: 10em;
        text-decoration: none;
        color: #ffffff;
        border-radius: 0.3em;
        box-shadow: 0 3px #6b2e68;
    }
}