.svg_wrapper {
    margin: 0 auto;
    svg {
        width: 100%;
        margin: 0;
        .cls-1, .cls-2, .cls-3 {
            fill: #fff;
         /*   fill-opacity: 0; //mine addition*/
          }
    
          .cls-1 {
            fill-opacity: 0.1;
            stroke: #fff;
            stroke-linejoin: round;
            stroke-width: 4px;
            stroke-opacity: 0;  //mine addition
            transition: 1s;
          }
    
          .cls-1, .cls-2 {
            fill-rule: evenodd;
            fill-opacity: 0; //mine addition  
          }
    
          .cls-3 {
            font-size: 18px;
            text-anchor: middle;
            /*font-family: Lato;*/
          }
       
    }
   /* #_1svg {
        
    }
    #_2svg {
        .cls-1, .cls-2, .cls-3 {
        fill: #fff;
        }

       .cls-1 {
        fill-opacity: 0.1;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 4px;
        transition: 1s;   
        }

       .cls-1, .cls-2 {
        fill-rule: evenodd;
       }

       .cls-3 {
        font-size: 18px;
        text-anchor: middle;
        font-family: Lato;
       }
    }
    #_4svg {
        .cls-1, .cls-2, .cls-3 {
        fill: #fff;
      }

      .cls-1 {
        fill-opacity: 0.1;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 4px;
        transition: 1s;  
      }

      .cls-1, .cls-2 {
        fill-rule: evenodd;
      }

      .cls-3 {
        font-size: 18px;
        text-anchor: middle;
        font-family: Lato;
      }
    }*/
    #scroller {
        width: 40%;
        margin: 0;
        .cls-1 {
            fill: #fff;
            fill-opacity: 0.1;
            stroke: #fff;
            stroke-linejoin: round;
            stroke-width: 4px;
            fill-rule: evenodd;
            transition: 1s;    
        }
    }
    #feature_4 {
        width: 75%;
        .cls-1 {
            fill: #fff;
            fill-opacity: 0.1;
            stroke: #ccd0d2;
            stroke-linejoin: round;
            stroke-width: 4px;
            transition: 1s;
      }

      .cls-1, .cls-2 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #d1d5d7;
      }
    }
    #icon_univ {
        .cls-1, .cls-2 {
        fill: #fff;
        fill-rule: evenodd;
      }

      .cls-1 {
        fill-opacity: 0.1;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
    }
    
}