.svg_wrapper {
    margin: 0 auto;
}
header {
    .svg_wrapper {
        svg {
            width: 100%;
            margin: 0;
            .cls-1, .cls-2, .cls-3 {
                fill: #fff;
             /*   fill-opacity: 0; //mine addition*/
              }
        
              .cls-1 {
                fill-opacity: 0.1;
                stroke: #fff;
                stroke-linejoin: round;
                stroke-width: 4px;
                stroke-opacity: 0;  //mine addition
                transition: 1s;
              }
        
              .cls-1, .cls-2 {
                fill-rule: evenodd;
                fill-opacity: 0; //mine addition  
              }
        
              .cls-3 {
                font-size: 18px;
                text-anchor: middle;
                /*font-family: Lato;*/
              }
           
        }
        #scroller {
            width: 40%;
            margin: 0;
            .cls-1 {
                fill: #fff;
                fill-opacity: 0.1;
                stroke: #fff;
                stroke-linejoin: round;
                stroke-width: 4px;
                fill-rule: evenodd;
                transition: 1s;    
            }
        }
    }
}
.features {
    .svg_wrapper {
        margin: 0 auto;
        width: 70%;
        .cls-1 {
        fill: #fff;
        fill-opacity: 0.1;
        stroke: #ccd0d2;
        stroke-linejoin: round;
        stroke-width: 4px;
      }

      .cls-1, .cls-2 {
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #ccd0d2;
      }
    }
}
    #icon_univ {
        .cls-1, .cls-2 {
        fill: #fff;
        fill-rule: evenodd;
      }

      .cls-1 {
        fill-opacity: 0.1;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 4px;
      }
    }
    